---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/NavBar.astro';
import Hero from '../sections/Hero.astro';
import OurClients from '../sections/OurClients.astro';
import OurServices from '../sections/OurServices.astro';
---

<Layout title="CodeCup Web Design">
    <div class="bg-hero">
        <Navbar />
        <Hero />
        <OurClients />
        <OurServices />
    </div>
</Layout>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-family: 'Montserrat', sans-serif;
        background: black;
    }

    .bg-hero {
        background: url('../assets/images/Piezas-fondo_03.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
