---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/NavBar.astro';
import Hero from '../sections/Hero.astro';
import OurClients from '../sections/OurClients.astro';
import OurServices from '../sections/OurServices.astro';
---

<Layout title="CodeCup Web Design">
    <div class="bg-hero">
        <Navbar />
        <Hero />
        <OurClients />
        <OurServices />
    </div>
</Layout>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

    :root {
        --container-max-width-xs: 475px;
        --container-max-width-sm: 640px;
        --container-max-width-md: 768px;
        --container-max-width-lg: 1024px;
        --container-max-width-xl: 1280px;
        --container-max-width-2xl: 1536px;
        --container-max-width-3xl: 1920px;

        /* sizes */
        --size-xxs: 0.5rem;
        --size-xs: 0.75rem;
        --size-sm: 0.875rem;
        --size-base: 1rem;
        --size-lg: 1.125rem;
        --size-xl: 1.25rem;
        --size-2xl: 1.5rem;
        --size-3xl: 1.875rem;
        --size-4xl: 2.25rem;
        --size-5xl: 3rem;
        --size-6xl: 3.75rem;
        --size-7xl: 4.5rem;
        --size-8xl: 6rem;
        --size-9xl: 8rem;
        --size-10xl: 10rem;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        line-height: calc(1em + 0.5rem);
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Poppins', sans-serif;
        font-family: 'Montserrat', sans-serif;
        background: black;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
        user-select: none;
    }

    button {
        display: inline-block;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        color: inherit;
    }

    .bg-hero {
        background: url('../assets/images/Piezas-fondo_03.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-gradient {
        background: linear-gradient(
            to right,
            #aa83cc,
            #b085cc,
            #b588cc,
            #bb8acc,
            #c08dcc,
            #c08dcc,
            #c08dcc,
            #c08dcc,
            #bb8acc,
            #b588cc,
            #b085cc,
            #aa83cc
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* xs */
    @media (min-width: 475px) {
        .container {
            max-width: var(--container-max-width-xs);
        }
    }

    /* sm */
    @media (min-width: 640px) {
        .container {
            max-width: var(--container-max-width-sm);
        }
    }

    /* md */
    @media (min-width: 768px) {
        .container {
            max-width: var(--container-max-width-md);
        }
    }

    /* lg */
    @media (min-width: 1024px) {
        .container {
            max-width: var(--container-max-width-lg);
        }
    }

    /* xl */
    @media (min-width: 1280px) {
        .container {
            max-width: var(--container-max-width-xl);
        }
    }

    /* 2xl */
    @media (min-width: 1536px) {
        .container {
            max-width: var(--container-max-width-2xl);
        }
    }

    /* 3xl */
    @media (min-width: 1920px) {
        .container {
            max-width: var(--container-max-width-3xl);
        }
    }
</style>/* max-width 800px */ /* max-width 650px */ /* aling-start */
