---
import img from '../assets/images/hero-image/Pantalla_1920.png';
---

<section class="relative">
    <div
        class="wrapper px-4 2xl:px-0 flex flex-col-reverse 2xl:flex-row items-center mt-10 2xl:gap-10"
    >
        <div class="flex flex-col items-center 2xl:items-start">
            <h2
                class="text-white font-bold 2xl:text-start uppercase size-sub-title"
            >
                grandes mentes
            </h2>
            <h1
                class="text-gradient size-title text-center 2xl:text-start font-bold"
            >
                Programación web y Marketing
            </h1>
            <div class="mt-4">
                <button
                    class="text-white rounded-full border-2 px-4 2xl:px-4 h-12 border-white font-bold capitalize"
                >
                    mas información
                </button>
            </div>
        </div>
        <!-- <img src="/assets/Pantalla_1920.png" alt="" /> -->
        <picture>
            <source
                media="(max-width: 320)"
                srcset="/assets/Pantalla_320.png"
            />
            <source
                srcset="/assets/Pantalla_509.png"
                media="(max-width: 509)"
            />
            <source
                srcset="/assets/Pantalla_785.png"
                media="(max-width: 785)"
            />
            <source
                srcset="/assets/Pantalla_909.png"
                media="(max-width: 909)"
            />
            <source
                srcset="/assets/Pantalla_999.png"
                media="(max-width: 999)"
            />
            <source
                srcset="/assets/Pantalla_1097.png"
                media="(max-width: 1097)"
            />
            <source
                srcset="/assets/Pantalla_1183.png"
                media="(max-width: 1183)"
            />
            <source
                srcset="/assets/Pantalla_1277.png"
                media="(max-width: 1277)"
            />
            <source
                srcset="/assets/Pantalla_1344.png"
                media="(max-width: 1344)"
            />
            <source
                srcset="/assets/Pantalla_1427.png"
                media="(max-width: 1427)"
            />
            <source
                srcset="/assets/Pantalla_1497.png"
                media="(max-width: 1427)"
            />
            <source
                srcset="/assets/Pantalla_1563.png"
                media="(max-width: 1563)"
            />
            <source
                srcset="/assets/Pantalla_1632.png"
                media="(max-width: 1632)"
            />
            <source
                srcset="/assets/Pantalla_1704.png"
                media="(max-width: 1704)"
            />
            <source
                srcset="/assets/Pantalla_1763.png"
                media="(max-width: 1763)"
            />
            <source
                srcset="/assets/Pantalla_1833.png"
                media="(max-width: 1833)"
            />
            <source
                srcset="/assets/Pantalla_1901.png"
                media="(max-width: 1901)"
            />
            <img src="/assets/Pantalla_1920.png" alt="" />
        </picture>
    </div>
</section>

<style>
    .text-gradient {
        background: linear-gradient(
            to right,
            #aa83cc,
            #b085cc,
            #b588cc,
            #bb8acc,
            #c08dcc,
            #c08dcc,
            #c08dcc,
            #c08dcc,
            #bb8acc,
            #b588cc,
            #b085cc,
            #aa83cc
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .wrapper {
        max-width: clamp(62.5rem, calc(-63.13rem + 167.36vw), 87.5rem);
        margin-inline: auto;
    }

    .size-sub-title {
        font-size: clamp(1.38rem, calc(1.2rem + 0.89vw), 2rem);
    }

    .size-title {
        font-size: clamp(1.75rem, calc(1.15rem + 3vw), 4.75rem);
        line-height: 1;
    }
</style>
