---
import Link from '../components/Link';
import menu from '../assets/images/burger-menu-svgrepo-com.svg';
import { SECTIONS } from '../components/Link';
import { Image } from '@astrojs/image/components';
---

<nav class="h-[80px] relative container">
    <div class="h-full flex justify-between items-center xl:px-10">
        <a href="#" class="w-40">
            <img src="/assets/logo.png" alt="logo codecup" />
        </a>
        <button
            aria-controls="primary-navigation "
            aria-expanded="false"
            class="lg:hidden mobile-nav-toggle"
        >
            <Image src={menu} format="svg" alt="hamburger icon" />
            <span class="sr-only">menu</span>
        </button>
        <ul
            id="primary-navigation"
            data-visible="false"
            class="primary-navigation w-full lg:w-auto fixed lg:static lg:gap-4 top-[80px] left-0 flex flex-col lg:flex-row items-center mt-4 z-50"
        >
            {SECTIONS.map((section) => <Link title={section.title} />)}
        </ul>
    </div>
</nav>

<style>
    .mobile-nav-toggle {
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
    }

    @media (max-width: 1023px) {
        .primary-navigation {
            padding-inline: 1rem;
            transform: translateX(100%);
            transition: transform 400ms ease-in;
        }

        .primary-navigation[data-visible='true'] {
            transform: translateX(0%);
        }
    }
</style>

<script>
    const primaryNav = document.querySelector('.primary-navigation');
    const navToggle = document.querySelector('.mobile-nav-toggle');

    navToggle?.addEventListener('click', () => {
        const visibility = primaryNav?.getAttribute('data-visible');

        console.log(visibility);

        if (visibility === 'false') {
            primaryNav?.setAttribute('data-visible', 'true');
            navToggle?.setAttribute('aria-expanded', 'true');
        } else if (visibility === 'true') {
            primaryNav?.setAttribute('data-visible', 'false');
        }
    });
</script>
