---
import Services from '../components/Services';
---

<section class="relative">
    <div class="container mt-12">
        <div class="flex flex-col items-center gap-6">
            <h2 class="size-title font-bold">Nuestros servicios</h2>
            <Services />
        </div>
    </div>
</section>

<style>
    .size-title {
        font-size: var(--size-2xl);
    }

    @media (min-width: 475px) {
        .size-title {
            font-size: var(--size-3xl);
        }
    }

    @media (min-width: 768px) {
        .size-title {
            font-size: var(--size-4xl);
        }
    }

    @media (min-width: 1024px) {
        .size-title {
            font-size: var(--size-5xl);
        }
    }
</style>
