---
import Services from '../components/Services';
import { Card } from '../components/CardService';
---

<section class="relative">
    <div class="container mt-12">
        <!-- <Services /> -->
        <Card />
    </div>
</section>

<style></style>
