---
import Services from '../components/Services';
---

<section class="relative">
    <div class="wrapper mt-12">
        <Services />
    </div>
</section>

<style>
    .wrapper {
        padding-inline: 1rem;

        max-width: clamp(62.5rem, calc(-63.13rem + 167.36vw), 87.5rem);
        margin-inline: auto;
    }

    @media (min-width: 1201px) {
        .wrapper {
            padding-inline: 0;
        }
    }
</style>
